<h2>Task 1</h2>
<div>
  <app-percent-pipe></app-percent-pipe>
  <p>
  <app-currency-pipe></app-currency-pipe>
</div>
<h2>Task 2</h2>
<div>
  <label>Введите логин от админ аккаунта
    <input [(ngModel)]="login">
  </label>
  <div *ngIf="isAdmin(); else loginIncorrect"> Логин верен </div>
  <ng-template #loginIncorrect> Неверный логин</ng-template>
  <p>
  <input type="button" value="switch" (click)="isCahnge()">
  <div>{{test}}</div>
  <P>
  <div>
  <label for="color">Введите цвет [желтый,синий,красный,зеленый]
    <input id="color" [(ngModel)]="color">
  </label>
</div>
  <div [ngSwitch]="color">
  <div *ngSwitchCase="'желтый'" style="color: yellow">желтый</div>
  <div *ngSwitchCase="'синий'" style="color: dodgerblue">синий</div>
  <div *ngSwitchCase="'красный'" style="color: red">красный</div>
  <div *ngSwitchCase="'зеленый'" style="color: green">зеленый</div>
  <div *ngSwitchDefault>
    неверный цвет
  </div>
    <p>
</div>
  <div *ngFor="let user of users">
    {{ user }}
  </div>
</div>
<h2>Task 3</h2>
<div>
  <button style="margin-right: 20px" (click)="showCarInfo()">Показати інформацію про автомобіль</button>
  <button style="margin-right: 20px" (click)="showPlaneInfo()">Показати інформацію про літак</button>
  <button (click)="showShipInfo()">Показати інформацію про корабель</button>

  <div *ngIf="currentInfo">
    <h2>{{ currentInfo.name }}</h2>
    <p>Розмір: {{ currentInfo.size }} метрів</p>
    <p>Максимальна швидкість: {{ currentInfo.speed }} км/год</p>
  </div>
</div>
