<div>
  <h2>Patience is a key element of success</h2>
  <ul style="font-size: 25px">
    <li>If you think your teacher is tough, wait till you get boss</li>
    <li>Life is not fair — get used to it!</li>
    <li>Success is a lousy teacher. Це seduces smart people in thinking they can\ t lose</li>
    <li>Be nice to nerds..\n</li>
  </ul>
  <div>
    <img src="assets/images/bill.jpg" height="250" width="350"/>
    <p>«Patience is a key element of success» - Bill Gates</p>
    <p>«If you think your teacher is tough, wait till you get boss» - Bill Gates</p>
    <p>«Life is not fair — get used to it!» - Bill Gates</p>
    <p>«Success is a lousy teacher. It seduces smart people into thinking they can t lose» - Bill Gates</p>
    <p>«Be nice to nerds. Chances are you ll end up working for one» - Bill Gates</p>
  </div>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Bill_Gates" target="_blank">Wikipedia про Білла Гейтса</a></li>
    <li><a href="https://www.gatesfoundation.org/" target="_blank">Білл і Мелінда Гейтс Foundation</a></li>
    <li><a href="https://www.gatesnotes.com/" target="_blank">Gates Notes (блог Білла Гейтса)</a></li>
    <li><a href="https://twitter.com/billgates" target="_blank">Twitter Білла Гейтса</a></li>
  </ul>
</div>